body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 300px;   /* Set fixed width */
    height: 400px;  /* Set fixed height */
}
